body{
  background-color: white;
  color: #2b2f33;
  transition: background-color 0.5s, color 0.5s;
}

body.dark {
  background-color: #2b2f33;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

*{
  box-sizing: border-box;
}
code{
  color: #19A8A0!important
}